*.log
.DS_Store
.codex_debug.php
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
/challenge_*.php
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/toArray()
/auth.json
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/database/*.sqlite
/node_modules
/public/hot
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/*.key
/storage/pail
/telc-runtime/
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
